<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/barriga?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.connection.autocommit">false</property>
    <property name="hibernate.show_sql">false</property>
    <!--Inicio C3PO-->
    <property name="hibernate.c3p0.acquire_increment">1</property>
    <property name="hibernate.c3p0.idle_test_period">100</property>
    <property name="hibernate.c3p0.max_size">100</property>
    <property name="hibernate.c3p0.max_statements">0</property>
    <!-- numero de conexiones minimas que c3po va a mantener habilitadas-->
    <property name="hibernate.c3p0.min_size">1</property>
    <!-- tiempo necesario para cerrar la conexion-->
    <property name="hibernate.c3p0.timeout">300</property>
    <!-- Fin C3PO-->
        <mapping resource="model/pojos/Cliente.hbm.xml"/>
    <mapping resource="model/pojos/Empleado.hbm.xml"/>
    <mapping resource="model/pojos/EstatusCartera.hbm.xml"/>
    <mapping resource="model/pojos/EstatusCliente.hbm.xml"/>
    <mapping resource="model/pojos/EstatusConvenio.hbm.xml"/>
    <mapping resource="model/pojos/EstatusEmpleado.hbm.xml"/>
    <mapping resource="model/pojos/EstatusVivienda.hbm.xml"/>
    
    <mapping resource="model/pojos/HistoriaCartera.hbm.xml"/>
    
    <mapping resource="model/pojos/HistoriaConvenio.hbm.xml"/>
    
    <mapping resource="model/pojos/HistoriaPagos.hbm.xml"/>
    
    <mapping resource="model/pojos/JerarquiaEmpleado.hbm.xml"/>
    
    <mapping resource="model/pojos/Rol.hbm.xml"/>
    <mapping resource="model/pojos/Vivienda.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
